.auto-complete-container {
    position: relative;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input:hover,
input:focus {
    border-color: #007bff;
}

input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

::placeholder {
    color: #888;
}

.suggestion-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 1; /* Ensure suggestions appear above other content */
    position: absolute;
    top: 42px;
    width: 150px;
}

.suggestion {
    padding: 10px;
    background-color: #fff;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    top: 30px;
}

.suggestion:focus,
.suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion b {
    font-weight: bold;
    color: #007bff; /* Color for highlighted text */
}

.suggestion span {
    color: #333; /* Default text color */
}